@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "./styles/burger1.css";
@import "./styles/burger2.css";
@import "./styles/burger3.css";
@import "./styles/burger4.css";
@import "./styles/burger5.css";
@import "./styles/burger6.css";
@import "./styles/burger7.css";
@import "./styles/burger8.css";
@import "./styles/burger9.css";
@import "./styles/burger10.css";
@import "./styles/burger11.css";
@import "./styles/burger12.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    font-family: "Poppins", sans-serif;
    color: blue;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

a {
    color: blue;
    text-decoration: none;
}

body {
    position: relative;
    font-family: "Poppins", sans-serif;
    height: 100%;
}

.info-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
    text-align: center;
    padding: 0 25px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    opacity: 0;
    z-index: 101;
    transition: all 0.3s;
    pointer-events: none;
}

.info-container--attention {
    opacity: 1;
    pointer-events: all;
}

.info-container__title {
    font-size: 20px;
    font-weight: 400;
}

.info-container__btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
}

.access-btn {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgba(172, 255, 47, 0.2);
    transition: all 0.15s;
}

.access-btn:hover {
    background-color: rgba(172, 255, 47, 0.5);
}

.reject-btn {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgba(240, 90, 90, 0.2);
    transition: all 0.15s;
}

.reject-btn:hover {
    background-color: rgba(249, 90, 90, 0.5);
}

.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    z-index: 100;
}

.header__left-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 15px;
}

.logo-burger {
    position: relative;
    width: 30px;
    height: 0;
    padding: 15px 0;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo-burger::before {
    position: absolute;
    content: "";
    width: 25%;
    height: 2px;
    background-color: #000;
    translate: 0 -10px;
    transition: all 0.3s 0.8s;
}

.logo-burger__center-line {
    position: absolute;
    width: 50%;
    height: 2px;
    background-color: #000;
    transition: all 0.3s 0.7s;
}

.logo-burger::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #000;
    translate: 0 10px;
    transition: all 0.3s 0.6s;
}

.logo-burger__center-line2 {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
    opacity: 0;
    rotate: 45deg;
    translate: -50px -50px;
    transition: all 0.3s 0.3s;
}

.logo-burger__center-line3 {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
    opacity: 0;
    rotate: -45deg;
    translate: 50px -50px;
    transition: all 0.3s;
}

.logo-burger--active::before {
    width: 0;
    transition: all 0.3s;
}

.logo-burger__center-line--active {
    width: 0;
    transition: all 0.3s 0.1s;
}

.logo-burger--active::after {
    width: 0;
    transition: all 0.3s 0.2s;
}

.logo-burger__center-line2--active {
    opacity: 1;
    translate: 0 0;
    transition: all 0.3s 0.5s;
}

.logo-burger__center-line3--active {
    opacity: 1;
    translate: 0 0;
    transition: all 0.3s 0.8s;
}

.logo-title {
    font-size: 24px;
    font-weight: 300;
}

.header__github-link img {
    vertical-align: middle;
    width: 25px;
    margin-right: 10px;
}

.grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.burger-container {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.burger-container__copy {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.footer {
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px 30px;
}

.copyright {
    display: flex;
    flex-direction: column;
}

.copyright,
.coffee {
    font-size: clamp(12px, 2vw, 16px);
}

.coffee-section {
    position: fixed;
    right: 0;
    bottom: -50%;
    left: 0;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255);
    z-index: 9999;
    border-radius: 50px 50px 0 0;
    overflow: hidden;
    transition: all 0.5s ease;
}

.coffee-section--active {
    bottom: 0;
    transition: all 0.5s ease;
}

.credit-card {
    text-align: center;
}

.dark {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: 9999;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: all 0.5s;
}

.dark--active {
    opacity: 1 !important;
    pointer-events: all !important;
    transition: all 0.5s;
}

@media screen and (width < 1500px) {
    .grid-container {
        grid-template-columns: repeat(7, 1fr);
    }

    .eight {
        display: none;
    }
}

@media screen and (width < 1300px) {
    .grid-container {
        grid-template-columns: repeat(6, 1fr);
    }

    .seven {
        display: none;
    }
}

@media screen and (width < 1100px) {
    .grid-container {
        grid-template-columns: repeat(5, 1fr);
    }

    .six {
        display: none;
    }
}

@media screen and (width < 900px) {
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
    }

    .five {
        display: none;
    }
}

@media screen and (width < 700px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .four {
        display: none;
    }
}

@media screen and (width < 500px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .three {
        display: none;
    }
}
