@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    font-family: "Poppins", sans-serif;
    color: blue;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

a {
    color: blue;
    text-decoration: none;
}

body {
    position: relative;
    font-family: "Poppins", sans-serif;
    height: 100%;
}

.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    z-index: 100;
}

.header__left-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 15px;
}

.header__github-img {
    vertical-align: middle;
    width: 30px;
    margin-right: 10px;
}

.logo-burger {
    width: 30px;
    height: 0;
    padding: 15px 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-burger__center {
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #000;
    transition: width 0.5s 0.5s;
}

.logo-burger::before {
    position: absolute;
    content: "";
    width: 0px;
    height: 2px;
    background-color: #000;
    transform: rotate(45deg);
    transition: width 0.5s;
}

.logo-burger::after {
    position: absolute;
    content: "";
    width: 0px;
    height: 2px;
    background-color: #000;
    transform: rotate(-45deg);
    transition: width 0.5s;
}

.logo-burger__center--active {
    position: absolute;
    width: 0px;
    height: 2px;
    background-color: #000;
    transition: width 0.5s;
}

.logo-burger--active::before {
    width: 30px;
    transition: width 0.5s 0.5s;
}

.logo-burger--active::after {
    width: 30px;
    transition: width 0.5s 0.5s;
}

.logo-title {
    font-size: 24px;
    font-weight: 300;
}

.grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.burger-container {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.creator,
.coffee {
    font-size: clamp(12px, 2vw, 16px);
}

.coffee-section {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    height: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255);
    z-index: 9999;
    border-radius: 50px 50px 0 0;
    overflow: hidden;
    transition: all 0.5s ease;
}

.coffee-section--active {
    height: 50%;
    transition: all 0.5s ease;
}
.credit-card {
    text-align: center;
    opacity: 0;
    transition: all 0.25s;
}

.credit-card--active {
    opacity: 1;
    transition: all 0.25s 0.25s;
}

.dark {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: 9999;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: all 0.5s;
}

.dark--active {
    opacity: 1 !important;
    pointer-events: all !important;
    transition: all 0.5s;
}

.warning {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
    text-align: center;
    padding: 0 25px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    opacity: 1;
    z-index: 101;
    transition: all 0.3s;
    pointer-events: all;
}

.warning-title {
    font-size: 20px;
    font-weight: 400;
}

.warning__btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
}

.access-btn {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgba(172, 255, 47, 0.2);
}

.deny-btn {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgba(201, 83, 83, 0.2);
}

.warning--access {
    opacity: 0;
    pointer-events: none;
}

.burger-container__copy {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

@media screen and (width < 1500px) {
    .grid-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
    }

    .eight {
        display: none;
    }
}

@media screen and (width < 1300px) {
    .grid-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }

    .seven {
        display: none;
    }
}

@media screen and (width < 1100px) {
    .grid-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }

    .six {
        display: none;
    }
}

@media screen and (width < 900px) {
    .grid-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .five {
        display: none;
    }
}

@media screen and (width < 700px) {
    .grid-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .four {
        display: none;
    }
}

@media screen and (width < 500px) {
    .grid-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .three {
        display: none;
    }
}

/* Burger 1 */

.burger-one {
    width: 50px;
    height: 0px;
    padding: 25px 0;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.burger-one::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
    transform: translateY(-5px);
    transition: all 0.5s;
}

.burger-one::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
    transform: translateY(5px);
    transition: all 0.5s;
}

.burger-one--active::before {
    content: "";
    transform: translateY(0) rotate(-45deg);
}

.burger-one--active::after {
    content: "";
    transform: translateY(0) rotate(45deg);
}

/* Burger 2 */

.burger-two {
    width: 50px;
    height: 0px;
    padding: 25px 0;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.burger-two::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
    translate: 0 -5px;
    transition: translate 0.5s 0.5s, rotate 0.5s;
}

.burger-two::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
    translate: 0 5px;
    transition: translate 0.5s 0.5s, rotate 0.5s;
}

.burger-two--active::before {
    content: "";
    translate: 0px;
    rotate: 45deg;
    transition: translate 0.5s, rotate 0.5s 0.5s;
}

.burger-two--active::after {
    content: "";
    translate: 0px;
    rotate: -45deg;
    transition: translate 0.5s, rotate 0.5s 0.5s;
}

/* Burger 3 */

.burger-three {
    width: 50px;
    height: 0px;
    padding: 25px 0;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.burger-three::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
    translate: 0 -15px;
    transition: translate 0.5s, rotate 0.5s;
}

.burger-three::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
    translate: 0 15px;
    transition: translate 0.5s, rotate 0.5s;
}

.burger-three__center-line {
    width: 50px;
    height: 2px;
    position: absolute;
    background-color: #000;
    opacity: 1;
    transition: all 0.5s;
}

.burger-three--active::before {
    content: "";
    translate: 0px;
    rotate: 45deg;
    transition: translate 0.5s, rotate 0.5s;
}

.burger-three--active::after {
    content: "";
    translate: 0px;
    rotate: -45deg;
    transition: translate 0.5s, rotate 0.5s;
}

.burger-three__center-line--active {
    translate: -50px 0;
    opacity: 0;
    transition: all 0.5s;
}

/* Burger 4 */

.burger-four {
    position: relative;
    width: 50px;
    height: 0;
    padding: 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.burger-four::before {
    position: absolute;
    content: "";
    width: 0px;
    height: 2px;
    background-color: #000;
    transform: rotate(45deg);

    transition: width 0.5s;
}

.burger-four::after {
    position: absolute;
    content: "";
    width: 0px;
    height: 2px;
    background-color: #000;
    transform: rotate(-45deg);
    transition: width 0.5s;
}

.burger-four__center-line {
    position: absolute;
    width: 50px;
    height: 2px;
    background-color: #000;
    transition: width 0.5s 0.5s;
}

.burger-four--active::before {
    width: 50px;
    transition: width 0.5s 0.5s;
}

.burger-four--active::after {
    width: 50px;
    transition: width 0.5s 0.5s;
}

.burger-four__center-line--active {
    position: absolute;
    width: 0px;
    height: 2px;
    background-color: #000;
    transition: width 0.5s;
}

/* Burger 5 */

.burger-five {
    position: relative;
    width: 50px;
    height: 0;
    padding: 25px 0;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.burger-five::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #000;
    translate: 0 -15px;
}

.burger-five::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #000;
    translate: 0 15px;
}

.burger-five__center-line {
    position: absolute;
    width: 50%;
    height: 2px;
    background-color: #000;
}

/* Burger 6 */

.burger-six {
    position: relative;
    width: 50px;
    height: 0;
    padding: 25px 0;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.burger-six::before {
    position: absolute;
    content: "";
    width: 25%;
    height: 2px;
    background-color: #000;
    translate: 0 -15px;
}

.burger-six::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #000;
    translate: 0 15px;
}

.burger-six__center-line {
    position: absolute;
    width: 50%;
    height: 2px;
    background-color: #000;
}

/* Burger 7 */

.burger-seven {
    position: relative;
    width: 50px;
    height: 0;
    cursor: pointer;
    padding: 25px 0;
}

.burger-seven::before {
    position: absolute;
    right: 0;
    content: "";
    width: 50%;
    height: 2px;
    background-color: #000;
    opacity: 1;
    translate: 0 -5px;
    transition: all 0.3s 0.3s;
}

.burger-seven::after {
    position: absolute;
    left: 0;
    content: "";
    width: 50%;
    height: 2px;
    background-color: #000;
    opacity: 1;
    translate: 0 5px;
    transition: all 0.3s 0.3s;
}

.burger-seven__center-line1 {
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #000;
    rotate: 45deg;
    translate: -25px -25px;
    opacity: 0;
    transition: all 0.3s;
}

.burger-seven__center-line2 {
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #000;
    rotate: -45deg;
    translate: 25px -25px;
    opacity: 0;
    transition: all 0.3s;
}

.burger-seven--active::before {
    right: 25px;
    opacity: 0;
    transition: all 0.3s;
}
.burger-seven--active::after {
    left: 25px;
    opacity: 0;
    transition: all 0.3s;
}

.burger-seven__center-line1--active {
    translate: 0 0;
    opacity: 1;
    transition: all 0.3s 0.3s;
}

.burger-seven__center-line2--active {
    translate: 0 0;
    opacity: 1;
    transition: all 0.3s 0.3s;
}
