@use "./../fonts";
@use "./../styles/burger1";
@use "./../styles/burger2";
@use "./../styles/burger3";
@use "./../styles/burger4";
@use "./../styles/burger5";
@use "./../styles/burger6";
@use "./../styles/burger7";
@use "./../styles/burger8";
@use "./../styles/burger9";
@use "./../styles/burger10";
@use "./../styles/burger11";
@use "./../styles/burger12";
@use "./../styles/burger13";
@use "./../styles/burger14";
@use "./../styles/burger15";
@use "./../styles/burger16";
@use "./../styles/burger17";

::-webkit-scrollbar {
	display: none;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--white: #fff;
	--accent-clr: #b3e741;
}

button {
	font-family: inherit;
	color: #fff;
	border: none;
	background: transparent;
	cursor: pointer;
}

a {
	color: #fff;
	text-decoration: none;
}

html {
	scroll-behavior: smooth;
}

body {
	// font-family: "Silkscreen", serif;
	font-family: "Chakra Petch", sans-serif;
	background: #000;
	color: #fff;
	padding: 25px;
}

.home-top {
	height: calc(50svh - 25px);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 30px;
	padding: 15px;
	text-align: center;
}

.home-top__title {
	font-size: clamp(1rem, 4vw, 1.25rem);

	a {
		color: var(--accent-clr);
		border-radius: 10px;
	}
}

.home-top__link {
	padding: 10px;
	background: var(--accent-clr);
	color: #000;
	border-radius: 10px;
}

.header {
	position: fixed;
	z-index: 1;
	padding: 15px 0 0 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo-title {
	font-size: 1.5rem;
	font-weight: 300;
	color: #fff;
}

.grid-container {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	gap: 15px;
	scroll-margin-top: 25px;
}

.burger-container {
	position: relative;
	width: 100%;
	aspect-ratio: 1 / 1;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.1);
	border: 2px solid rgba(255, 255, 255, 0.2);
	border-radius: 15px;
	transition: all 0.2s;

	&:hover {
		background: rgba(255, 255, 255, 0);
	}
}

.burger-container__header {
	position: absolute;
	bottom: 10px;
	right: 10px;
	left: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	span {
		color: #fff;
	}

	button {
		background: rgb(179, 231, 65);
		color: #000;
		border-radius: 10px;
		padding: 5px;
	}
}

.footer {
	padding: 15px;
}

.copyright {
	display: flex;
	flex-direction: column;
}

.creator {
	color: var(--accent-clr);
}

.coffee-container {
	position: fixed;
	right: 30px;
	bottom: 30px;
}

@media screen and (width < 1500px) {
	.grid-container {
		grid-template-columns: repeat(7, 1fr);
	}

	.eight {
		display: none;
	}
}

@media screen and (width < 1300px) {
	.grid-container {
		grid-template-columns: repeat(6, 1fr);
	}

	.seven {
		display: none;
	}
}

@media screen and (width < 1100px) {
	.grid-container {
		grid-template-columns: repeat(5, 1fr);
	}

	.six {
		display: none;
	}
}

@media screen and (width <= 896px) {
	body {
		padding: 15px;
	}

	.home-top {
		height: calc(50svh - 15px);
	}

	.grid-container {
		grid-template-columns: repeat(4, 1fr);
		scroll-margin-top: 15px;
	}

	.five {
		display: none;
	}

	.coffee-container {
		right: 15px;
		bottom: 15px;
	}

	.footer {
		padding: 15px;
	}
}

@media screen and (width < 700px) {
	.grid-container {
		grid-template-columns: repeat(3, 1fr);
	}

	.four {
		display: none;
	}
}

@media screen and (width < 500px) {
	.grid-container {
		grid-template-columns: repeat(2, 1fr);
	}

	.three {
		display: none;
	}
}
