@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
.burger-1 {
  position: relative;
  width: 50px;
  height: 0px;
  padding: 25px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.burger-1::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
  transform: translateY(-7.5px);
  transition: all 0.5s;
}

.burger-1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
  transform: translateY(7.5px);
  transition: all 0.5s;
}

.burger-1--active::before {
  transform: translateY(0) rotate(-45deg);
}

.burger-1--active::after {
  transform: translateY(0) rotate(45deg);
}

.burger-2 {
  position: relative;
  width: 50px;
  height: 0px;
  padding: 25px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.burger-2::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
  translate: 0 -7.5px;
  transition: translate 0.5s 0.5s, rotate 0.5s;
}

.burger-2::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
  translate: 0 7.5px;
  transition: translate 0.5s 0.5s, rotate 0.5s;
}

.burger-2--active::before {
  translate: 0px;
  rotate: 45deg;
  transition: translate 0.5s, rotate 0.5s 0.5s;
}

.burger-2--active::after {
  translate: 0px;
  rotate: -45deg;
  transition: translate 0.5s, rotate 0.5s 0.5s;
}

.burger-3 {
  position: relative;
  width: 50px;
  padding: 25px 0;
}

.burger-3::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  transform: translate(0, -15px) rotate(0);
  transition: transform 0.5s;
}

.burger-3--active::before {
  transform: translate(0, 0) rotate(45deg);
}

.burger-3::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  transform: translate(0, 15px) rotate(0);
  transition: transform 0.5s;
}

.burger-3--active::after {
  transform: translate(0, 0) rotate(-45deg);
}

.burger-3__center-line {
  width: 50px;
  height: 2px;
  position: absolute;
  left: 0;
  background: #fff;
  opacity: 1;
  transform: translate(0, 0);
  transition: all 0.5s;
}

.burger-3__center-line--active {
  transform: translate(-50px, 0);
  opacity: 0;
}

.burger-4 {
  position: relative;
  width: 50px;
  height: 0;
  padding: 25px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.burger-4::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 2px;
  background: #fff;
  transform: rotate(45deg);
  transition: width 0.5s;
}

.burger-4::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 2px;
  background: #fff;
  transform: rotate(-45deg);
  transition: width 0.5s;
}

.burger-4__center-line {
  position: absolute;
  width: 50px;
  height: 2px;
  background: #fff;
  transition: width 0.5s 0.5s;
}

.burger-4--active::before {
  width: 50px;
  transition: width 0.5s 0.5s;
}

.burger-4--active::after {
  width: 50px;
  transition: width 0.5s 0.5s;
}

.burger-4__center-line--active {
  width: 0px;
  transition: width 0.5s;
}

.burger-5 {
  position: relative;
  width: 50px;
  height: 0;
  padding: 25px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.burger-5::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
  translate: 0 -15px;
  transition: all 0.3s;
}

.burger-5::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
  translate: 0 15px;
  transition: all 0.3s;
}

.burger-5__center-line {
  position: absolute;
  width: 50%;
  height: 2px;
  background: #fff;
  transition: all 0.3s 0.3s;
}

.burger-5--active::before {
  rotate: -45deg;
  translate: 0 0;
  transition: all 0.3s 0.3s;
}

.burger-5--active::after {
  rotate: 45deg;
  translate: 0 0;
  transition: all 0.3s 0.3s;
}

.burger-5__center-line--active {
  width: 0;
  transition: all 0.3s;
}

.burger-6 {
  position: relative;
  width: 50px;
  height: 0;
  padding: 25px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.burger-6::before {
  content: "";
  position: absolute;
  width: 25%;
  height: 2px;
  background: #fff;
  translate: 0 -15px;
  transition: all 0.3s 0.8s;
}

.burger-6__center-line {
  position: absolute;
  width: 50%;
  height: 2px;
  background: #fff;
  transition: all 0.3s 0.7s;
}

.burger-6::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
  translate: 0 15px;
  transition: all 0.3s 0.6s;
}

.burger-6__center-line2 {
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
  opacity: 0;
  rotate: 45deg;
  translate: -50px -50px;
  transition: all 0.3s 0.3s;
}

.burger-6__center-line3 {
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
  opacity: 0;
  rotate: -45deg;
  translate: 50px -50px;
  transition: all 0.3s;
}

.burger-6--active::before {
  width: 0;
  transition: all 0.3s;
}

.burger-6__center-line--active {
  width: 0;
  transition: all 0.3s 0.1s;
}

.burger-6--active::after {
  width: 0;
  transition: all 0.3s 0.2s;
}

.burger-6__center-line2--active {
  opacity: 1;
  translate: 0 0;
  transition: all 0.3s 0.5s;
}

.burger-6__center-line3--active {
  opacity: 1;
  translate: 0 0;
  transition: all 0.3s 0.8s;
}

.burger-7 {
  position: relative;
  width: 50px;
  height: 0;
  padding: 25px 0;
}

.burger-7::before {
  content: "";
  position: absolute;
  right: 0;
  width: 50%;
  height: 2px;
  background: #fff;
  opacity: 1;
  translate: 0 -7.5px;
  transition: all 0.3s 0.3s;
}

.burger-7::after {
  content: "";
  position: absolute;
  left: 0;
  width: 50%;
  height: 2px;
  background: #fff;
  opacity: 1;
  translate: 0 7.5px;
  transition: all 0.3s 0.3s;
}

.burger-7__center-line1 {
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  background: #fff;
  rotate: 45deg;
  translate: -25px -25px;
  opacity: 0;
  transition: all 0.3s;
}

.burger-7__center-line2 {
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  background: #fff;
  rotate: -45deg;
  translate: 25px -25px;
  opacity: 0;
  transition: all 0.3s;
}

.burger-7--active::before {
  right: 25px;
  opacity: 0;
  transition: all 0.3s;
}

.burger-7--active::after {
  left: 25px;
  opacity: 0;
  transition: all 0.3s;
}

.burger-7__center-line1--active {
  translate: 0 0;
  opacity: 1;
  transition: all 0.3s 0.3s;
}

.burger-7__center-line2--active {
  translate: 0 0;
  opacity: 1;
  transition: all 0.3s 0.3s;
}

.burger-8 {
  position: relative;
  width: 50px;
  height: 0px;
  padding: 15px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.burger-8::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
  transform: translateY(-15px);
  transition: transform 0.3s 0.3s, rotate 0.3s;
}

.burger-8::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
  transform: translateY(15px);
  transition: transform 0.3s 0.3s, rotate 0.3s;
}

.burger-8__center-line {
  width: 50px;
  height: 2px;
  background: #fff;
  opacity: 1;
  transition: all 0s 0.3s;
}

.burger-8__center-line--active {
  opacity: 0;
}

.burger-8--active::before {
  transform: translateY(0);
  rotate: 45deg;
  transition: transform 0.3s, rotate 0.3s 0.3s;
}

.burger-8--active::after {
  transform: translateY(0);
  rotate: -45deg;
  transition: transform 0.3s, rotate 0.3s 0.3s;
}

.burger-9 {
  position: relative;
  width: 50px;
  padding: 25px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.burger-9::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
  transform: translateY(-15px);
  transition: all 0.3s;
}

.burger-9__center-line {
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
  transition: all 0.3s;
}

.burger-9::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
  transform: translateY(15px);
  transition: all 0.3s;
}

.burger-9--active::before {
  transform: translateY(0);
  rotate: 45deg;
}

.burger-9__center-line--active {
  rotate: -45deg;
}

.burger-9--active::after {
  transform: translateY(0);
  rotate: 45deg;
}

.burger-10 {
  position: relative;
  width: 50px;
  padding: 25px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.burger-10::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
  transform: translateY(-15px);
  transition: all 0.3s;
}

.burger-10__center-line {
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
  transition: all 0.3s;
}

.burger-10::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
  transform: translateY(15px);
  transition: all 0.3s;
}

.burger-10--active::before {
  transform: translateY(0);
  rotate: -135deg;
}

.burger-10__center-line--active {
  rotate: -180deg;
  opacity: 0;
}

.burger-10--active::after {
  transform: translateY(0);
  rotate: -225deg;
}

.burger-11 {
  position: relative;
  width: 50px;
  height: 0px;
  padding: 15px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.burger-11::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
  transform: translateY(-15px);
  transition: transform 0.3s 0.3s, rotate 0.3s;
}

.burger-11__center-line {
  width: 50px;
  height: 2px;
  background: #fff;
  opacity: 1;
  transition: all 0s 0.3s;
}

.burger-11::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
  transform: translateY(15px);
  transition: transform 0.3s 0.3s, rotate 0.3s;
}

.burger-11--active::before {
  transform: translateY(0);
  rotate: 45deg;
  transition: transform 0.3s, rotate 0.3s 0.3s;
}

.burger-11__center-line--active {
  opacity: 0;
}

.burger-11--active::after {
  transform: translateY(0);
  rotate: 135deg;
  transition: transform 0.3s, rotate 0.3s 0.3s;
}

.burger-12 {
  position: relative;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.burger-12::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
  transform: translateY(-15px);
  transition: all 0.3s;
}

.burger-12__center-line {
  width: 100%;
  height: 2px;
  background: #fff;
}

.burger-12::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  transform: translateY(15px);
  background: #fff;
  transition: all 0.3s;
}

.burger-12--active::before {
  transform: translateY(0);
  rotate: -45deg;
  transform-origin: top left;
}

.burger-12--active::after {
  transform: translateY(0);
  rotate: 45deg;
  transform-origin: bottom left;
}

.burger-13 {
  position: relative;
  width: 50px;
  padding: 25px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.burger-13::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, #fff 50%, transparent 50%);
  transform: translateY(-10px);
  transition: all 0.3s;
}

.burger-13__center-line {
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
  transition: all 0.3s;
}

.burger-13::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent 50%, #fff 50%);
  transform: translateY(10px);
  transition: all 0.3s;
}

.burger-13--active::before {
  transform: translateY(0);
  rotate: 45deg;
}

.burger-13__center-line--active {
  rotate: -45deg;
}

.burger-13--active::after {
  transform: translateY(0);
  rotate: 45deg;
}

.burger-14 {
  position: relative;
  width: 50px;
  padding: 25px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.burger-14::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
  transform: translateY(-15px);
  transition: all 0.6s;
}

.burger-14__center-line {
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
  transition: all 0.6s;
}

.burger-14::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
  transform: translateY(15px);
  transition: all 0.6s;
}

.burger-14--active::before {
  transform: translateY(0);
  rotate: 135deg;
}

.burger-14__center-line--active {
  rotate: 225deg;
  width: 2px;
}

.burger-14--active::after {
  transform: translateY(0);
  rotate: 225deg;
}

.burger-15 {
  position: relative;
  width: 50px;
  padding: 25px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.burger-15::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent 50%, #fff 50%);
  transform: translate(-25px, -10px);
  transition: transform 0.3s;
}

.burger-15__center-line {
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
  transition: transform 0.3s;
}

.burger-15::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, #fff 50%, transparent 50%);
  transform: translate(25px, 10px);
  transition: transform 0.3s;
}

.burger-15--active::before {
  transform: translate(0px, 0px) rotate(-135deg);
}

.burger-15__center-line--active {
  transform: rotate(-45deg);
}

.burger-15--active::after {
  transform: translate(0px, 0px) rotate(-135deg);
}

.burger-16 {
  position: relative;
  width: 50px;
  padding: 25px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.burger-16::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
  transform: translateY(-10px) scaleX(1);
  transform-origin: right;
  transition: all 0.3s 0.45s;
}

.burger-16--active::before {
  transform: translateY(-10px) scaleX(0);
  transition: all 0.3s;
}

.burger-16::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
  transform: translateY(10px) scaleX(1);
  transform-origin: right;
  transition: transform 0.3s 0.3s;
}

.burger-16--active::after {
  transform: translateY(10px) scaleX(0);
  transition: all 0.3s 0.15s;
}

.burger-16__top-line {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg) scale(0);
  transform-origin: center;
  width: 100%;
  height: 2px;
  background: #fff;
  transition: transform 0.3s 0.15s;
}

.burger-16__top-line--active {
  transform: translate(-50%, -50%) rotate(-45deg) scale(1);
  transition: transform 0.3s 0.3s;
}

.burger-16__bottom-line {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg) scale(0);
  transform-origin: center;
  width: 100%;
  height: 2px;
  background: #fff;
  transition: transform 0.3s;
}

.burger-16__bottom-line--active {
  transform: translate(-50%, -50%) rotate(45deg) scale(1);
  transition: transform 0.3s 0.45s;
}

.burger-17 {
  position: relative;
  width: 50px;
  padding: 25px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.burger-17::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
  transform: translateY(-10px) rotate(0);
  transition: transform 0.3s;
}

.burger-17--active::before {
  transform: translateY(0) rotate(135deg);
}

.burger-17::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
  transform: translateY(10px) rotate(0);
  transition: transform 0.3s;
}

.burger-17--active::after {
  transform: translateY(0) rotate(45deg);
}

::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --accent-clr: rgb(179, 231, 65);
}

button {
  font-family: inherit;
  color: #fff;
  border: none;
  background: transparent;
  cursor: pointer;
}

a {
  color: #fff;
  text-decoration: none;
}

body {
  font-family: "Chakra Petch", sans-serif;
  background: #000;
  color: #fff;
  padding: 25px;
}

.info-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 50px;
  text-align: center;
  padding: 0 25px;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  opacity: 0;
  z-index: 1001;
  transition: all 0.3s;
  pointer-events: none;
}

.info-container--attention {
  opacity: 1;
  pointer-events: all;
}

.info-container__title {
  font-size: 20px;
  text-align: center;
}

.info-container__btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 50px;
       column-gap: 50px;
}

.access-btn {
  position: relative;
  padding: 10px 25px;
  color: #fff;
  transition: all 0.5s;
  border: 1px solid #000;
}

.access-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 0;
  background: #fff;
  transition: all 0.3s;
}

.access-btn:hover {
  color: #fff !important;
}

.access-btn:hover::before {
  height: 100%;
}

.home-top {
  height: calc(50svh - 25px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding: 15px;
  text-align: center;
}
.home-top button {
  padding: 10px;
  background: var(--accent-clr);
  color: #000;
  border-radius: 10px;
}

.home-top__title {
  font-size: clamp(1rem, 4vw, 1.25rem);
}
.home-top__title a {
  color: var(--accent-clr);
  border-radius: 10px;
}

.header {
  position: fixed;
  z-index: 1;
  padding: 15px 0 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-title {
  font-size: 1.5rem;
  font-weight: 300;
  color: #fff;
}

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 15px;
}

.burger-container {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  transition: all 0.2s;
}
.burger-container:hover {
  background: rgba(255, 255, 255, 0);
}

.burger-container__header {
  position: absolute;
  bottom: 10px;
  right: 10px;
  left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.burger-container__header span {
  color: #fff;
}
.burger-container__header button {
  background: rgb(179, 231, 65);
  color: #000;
  border-radius: 10px;
  padding: 5px;
}

.footer {
  padding: 15px;
}

.copyright {
  display: flex;
  flex-direction: column;
}

.creator {
  color: var(--accent-clr);
}

.coffee-container {
  position: fixed;
  right: 30px;
  bottom: 30px;
}

@media screen and (width < 1500px) {
  .grid-container {
    grid-template-columns: repeat(7, 1fr);
  }
  .eight {
    display: none;
  }
}
@media screen and (width < 1300px) {
  .grid-container {
    grid-template-columns: repeat(6, 1fr);
  }
  .seven {
    display: none;
  }
}
@media screen and (width < 1100px) {
  .grid-container {
    grid-template-columns: repeat(5, 1fr);
  }
  .six {
    display: none;
  }
}
@media screen and (width <= 896px) {
  body {
    padding: 15px;
  }
  .home-top {
    height: calc(50svh - 15px);
  }
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
  .five {
    display: none;
  }
  .coffee-container {
    right: 15px;
    bottom: 15px;
  }
  .footer {
    padding: 15px;
  }
}
@media screen and (width < 700px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .four {
    display: none;
  }
}
@media screen and (width < 500px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .three {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */