.burger-5 {
    position: relative;
    width: 50px;
    height: 0;
    padding: 25px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}

.burger-5::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #000;
    translate: 0 -15px;
    transition: all 0.3s;
}

.burger-5::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #000;
    translate: 0 15px;
    transition: all 0.3s;
}

.burger-5__center-line {
    position: absolute;
    width: 50%;
    height: 2px;
    background: #000;
    transition: all 0.3s 0.3s;
}

.burger-5--active::before {
    rotate: -45deg;
    translate: 0 0;
    transition: all 0.3s 0.3s;
}

.burger-5--active::after {
    rotate: 45deg;
    translate: 0 0;
    transition: all 0.3s 0.3s;
}

.burger-5__center-line--active {
    width: 0;
    transition: all 0.3s;
}
