.burger-4 {
	position: relative;
	width: 50px;
	height: 0;
	padding: 25px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.burger-4::before {
	content: "";
	position: absolute;
	width: 0px;
	height: 2px;
	background: #fff;

	transform: rotate(45deg);
	transition: width 0.5s;
}

.burger-4::after {
	content: "";
	position: absolute;
	width: 0px;
	height: 2px;
	background: #fff;

	transform: rotate(-45deg);
	transition: width 0.5s;
}

.burger-4__center-line {
	position: absolute;
	width: 50px;
	height: 2px;
	background: #fff;

	transition: width 0.5s 0.5s;
}

.burger-4--active::before {
	width: 50px;
	transition: width 0.5s 0.5s;
}

.burger-4--active::after {
	width: 50px;
	transition: width 0.5s 0.5s;
}

.burger-4__center-line--active {
	width: 0px;
	transition: width 0.5s;
}
